{% extends "base.html" %}
{% block contents %}
<div>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input type="text" name="username" placeholder="Username..." class="form-control">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-append">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <input type="password" name="password" placeholder="Password..." class="form-control">
    </div>

    <div class="d-flex justify-content-center mt-3 login_container">
      <input class="btn login_btn" type="submit" value="Login">
    </div>
  </form>

  {%for message in messages%}
  <p>{{message}}</p>
  {% endfor %}

  <div class="border-top pt-3">
    <small class="text-muted">
      Need An Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a>
    </small>
  </div>
</div>
{% endblock%}